{% extends "admin-base.html" %}
{% block main %}
<div id="function-group">
    <input id="search-box" type="text" class="form-control search" placeholder="Search.."> 
    <div>
        <input class="btn error" type="button" value="删除评论">
    </div>  
</div>
<div class="panel">
    <div class="panel-header">评论列表</div>
    <div class="panel-body">
            <table class="table-hover">
                    <thead>
                        <th style="width:40px">选择</th>
                        <th>内容</th>
                        <th style="width:90px;float: right;">日期</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="posts" value="1"></td>
                            <td>评论标题标题标题1</td>
                            <td style="width:90px;float: right;">2018/04/01</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" name="posts" value="1"></td>
                                <td>评论标题标题标题1</td>
                                <td style="width:90px;float: right;">2018/04/01</td>
                            </tr>
                            <tr>
                                    <td><input type="checkbox" name="posts" value="1"></td>
                                    <td>评论标题标题标题1</td>
                                    <td style="width:90px;float: right;">2018/04/01</td>
                                </tr>
                    </tbody>
                </table>
                <div class="page-tags">
                        <span class="page-tag"><a href="#">下一页</a></span>
                        <span class="page-tag"><a href="#">上一页</a></span>
                </div>
    </div>
</div>
{% endblock %}