{% extends "base.html" %}
{% block main %}
<div class="panel">
    <div class="panel-header">按标签显示文章</div>
    <div class="panel-body">
        <span class="tag"><a href="#cpp">C++</a></span>
        <span class="tag"><a href="#java">Java</a></span>
        <span class="tag"><a href="#python">Python</a></span>
        <span class="tag"><a href="#cpp">C++</a></span>
        <span class="tag"><a href="#java">Java</a></span>
        <span class="tag"><a href="#python">Python</a></span>
        <span class="tag"><a href="#cpp">C++</a></span>
        <span class="tag"><a href="#java">Java</a></span>
        <span class="tag"><a href="#python">Python</a></span>
        <table>
            <tbody>
                <tr>
                    <td><a href="#">标题很长很长很长很长很长很长很长</a></td>
                    <td>2018/04/11</td>
                </tr>
                <tr>
                    <td><a href="#">标题很长很长很长很长很长很长很长</a></td>
                    <td>2018/04/11</td>
                </tr>
                <tr>
                    <td><a href="#">标题很长很长很长很长很长很长很长</a></td>
                    <td>2018/04/11</td>
                </tr>
                <tr>
                    <td><a href="#">标题很长很长很长很长很长很长很长</a></td>
                    <td>2018/04/11</td>
                </tr>
            </tbody>
        </table>
        <a class="btn" href="#pre">上一页</a>
        <a class="btn" href="#next">下一页</a>
        <span>第1页，共20页</span>
    </div>
</div>
<script src="/js/tags.js"></script>
{% endblock%}